attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==41.0.7
cryptography.egg==info
cupy==13.4.0
docutils==0.21.2
filelock==3.18.0
HTMLParser==0.0.2
importlib_metadata==8.4.0
importlib_metadata==8.0.0
importlib_metadata==4.12.0
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.2
jnius==1.1.0
keyring==24.3.1
mock==5.2.0
Pillow==11.1.0
protobuf==6.30.1
pyOpenSSL==23.2.0
pyOpenSSL==25.0.0
railroad==0.5.0
redis==5.2.1
Sphinx==8.2.3
thread==2.0.5
tornado==6.4.2
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
